.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e9e3dd; /* 이미지 배경색과 맞춤 */
    padding: 10px 20px;
    border-bottom: 1px solid #000;

    &__logo {
        display: flex;
        flex-direction: column;

        &-main {
        font-size: 24px;
        font-weight: bold;
        }

        &-sub {
        font-size: 12px;
        }
    }

    &__nav {
        display: flex;
        gap: 20px;

        &-item {
        font-size: 16px;
        text-decoration: none;
        color: #000;
        
        &:hover {
            text-decoration: underline;
        }
        }
    }
}
